@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $grey.darken-3
  accent: $teal.accent-4
  secondary: $teal.darken-1
  info: $blue.base
  warning: $amber.base
  error: $orange.accent-4
  success: $green.base
}

@import '../../node_modules/vuetify/src/stylus/main'